Durante la clase de pair programming de ayer nos creamos nuestra primerita BBDD desde cero en Workbench. En el ejercicio de hoy volveremos a crear esa misma BBDD, pero esta vez desde Python.

游늷 NOTA Cambiad el nombre de la BBDD a mi_primerita_BBDD_Python
游늷 NOTA Cuando creeis las distintas tablas de vuestra BBDD repetereis la mismas lineas de c칩digo una y otra vez. Para evitar esto, crearos una funci칩n que nos sirva para crear tablas independientemente del contenido de la tabla. La funci칩n recibir치 como par치metros:

Contrase침a de la conexi칩n al servidor.

Query para crear la tabla.


A modo de recap de lo que conten칤a la BBDD:

Tabla Zapatillas: tiene 4 columnas: id, modelo, color, talla con las siguientes caracter칤sticas:


idZapatillas: es una clave primaria de tipo int, autoincremental y no nula.

Modelo: es una cadena de caracteres de longitud m치xima de 45 caracteres, no nula.

Color: es una cadena de caracteres de longitud m치xima de 45 caracteres, no nula.

Talla: es entero, no nula.

Tabla Clientes: tiene 9 columnas idcliente, nombre, numero_telefono, email, direccion, ciudad, provincia, pais, codigo_postal con las siguientes caracter칤sticas:


idEmpleado: es una clave primaria de tipo int, autoincremental y no nula.

Nombre: es una cadena de caracteres de longitud m치xima de 45 caracteres, no nula.

Numero_telefono: es un entero de longitud m치xima de 9 caracteres, no nula.

Email: es una cadena de caracteres de longitud m치xima de 45 caracteres, no nula.

Direccion: es una cadena de caracteres de longitud m치xima de 45 caracteres, no nula.

Ciudad: es una cadena de caracteres de longitud m치xima de 45 caracteres, puede ser nula.

Provincia: es una cadena de caracteres de longitud m치xima de 45 caracteres, no nula.

Pais: es una cadena de caracteres de longitud m치xima de 45 caracteres, no nula.

Codigo_postal: entero de m치xima longitud 9, no nula.

Tabla Empleados: tiene 5 columnas idEmpleado, nombre, tienda, salario, fecha_incorporacion con las siguientes caracter칤sticas:


idEmpleado: es una clave primaria de tipo int, autoincremental y no nula.

Nombre: es una cadena de caracteres de longitud m치xima de 45 caracteres, no nula.

Tienda: es una cadena de caracteres de longitud m치xima de 45 caracteres, no nula.

salario: es decimal, puede ser nula.

fecha_incorporacion: es una columna de tipo date, no nula.

Tabla Facturas: tiene 5 columnas idFactura, idEmpleado, idCliente, fecha, total con las siguientes caracter칤sticas:


idFactura: es una clave primaria de tipo int, autoincremental y no nula.

idEmpleado: es una clave for치nea de tipo int, no nula.

idCliente: es una clave for치nea de tipo int, no nula.

idZapatilla: es una clave for치nea de tipo int, no nula

Fecha: es una columna de tipo date, no nula.

Total: es decimal, no nula.


游늷 NOTA En esta 칰ltima tabla tendremos que incluir todos los CONSTRAINTnecesarios para establecer los relaciones entre las tablas, donde tendremos que especificar:

Foreign Key

References

In [ ]:
#Importamos el conector EN WINDOWS 
import mysql.connector

In [100]:
# Creamos nuestra BBDD mi_primerita_BBDD_Python

cnx = mysql.connector.connect(user='root', password='alumnaadalab',
                              host='127.0.0.1')


mycursor = cnx.cursor()
try:
    mycursor.execute ("""CREATE DATABASE mi_primerita_BBDD_Python """)
    print(mycursor)
except mysql.connector.Error as err:
    print(err)
    print("Error Code:", err.errno)
    print("SQLSTATE", err.sqlstate)
    print("Message", err.msg)

CMySQLCursor: CREATE DATABASE mi_primerita_BBDD_Python..

In [95]:
#Creacion de funcion universal para a침adir tablas a mi BBDD

def creacion_tablas (password, query):
    
    cnx = mysql.connector.connect(user='root', password= password,
                              host='127.0.0.1', database='mi_primerita_BBDD_Python')
    mycursor = cnx.cursor()
    try:
        mycursor.execute(query)
        print(mycursor)
        print("Tu tabla se ha creado con 칠xito")
    except mysql.connector.Error as err:
        print(err)
        print("Error Code:", err.errno)
        print("SQLSTATE", err.sqlstate)
        print("Message", err.msg)

In [105]:
#Creamos las Queries que queremos pasar a nuestra funci칩n, en este caso son nuestras tablas con sus columnas y sus respectivos atributos. 

cnx = mysql.connector.connect(user='root', password='alumnaadalab',
                              host='127.0.0.1', database='mi_primerita_BBDD_Python')

mycursor = cnx.cursor()
try:
    query_zapatillas =              ("""CREATE TABLE Zapatillas 
                                     (id_zapatilla INT AUTO_INCREMENT, 
                                     modelo VARCHAR(45) NOT NULL , 
                                     color VARCHAR(45) NOT NULL, 
                                     talla INT NOT NULL,
                                     PRIMARY KEY (id_zapatilla))""")   
    query_clientes =                ("""CREATE TABLE Clientes
                                     (id_cliente INT AUTO_INCREMENT,
                                     Nombre VARCHAR(45) NOT NULL, 
                                     Numero_telefono INT(9) NOT NULL,
                                     Email VARCHAR (45) NOT NULL,
                                     Direccion VARCHAR (45) NOT NULL,
                                     Ciudad VARCHAR (45) NOT NULL, 
                                     Pais VARCHAR (45) NOT NULL, 
                                     Codigo_postal INT (9) NOT NULL, 
                                     PRIMARY KEY (id_cliente))""")    
    query_empleados =               ("""CREATE TABLE Empleados
                                     (id_empleado INT AUTO_INCREMENT NOT NULL, 
                                     Nombre VARCHAR(45) NOT NULL, 
                                     Tienda VARCHAR (45) NOT NULL, 
                                     SALARIO FLOAT NOT NULL, 
                                     Fecha_incorporacion DATE NOT NULL, 
                                     PRIMARY KEY (id_empleado))""")
    query_facturas =                 ("""CREATE TABLE Facturas
                                    (id_factura INT AUTO_INCREMENT NOT NULL PRIMARY KEY, 
                                     id_empleado INT NOT NULL, 
                                     id_cliente INT NOT NULL,
                                     id_zapatilla INT NOT NULL,
                                    CONSTRAINT fk_facturas_zapatillas
                                        FOREIGN KEY (id_zapatilla)
                                        REFERENCES zapatillas (id_zapatilla),
                                    CONSTRAINT fk_facturas_clienteS
                                        FOREIGN KEY (id_cliente)
                                        REFERENCES clientes (id_cliente),
                                    CONSTRAINT fk_facturas_empleados
                                        FOREIGN KEY (id_empleado)
                                        REFERENCES empleados (id_empleado)) """)

except mysql.connector.Error as err:
    print(err)
    print("Error Code:", err.errno)
    print("SQLSTATE", err.sqlstate)
    print("Message", err.msg)

AHORA LLAMAMOS A NUESTRA FUNCION CON CADA UNA DE LAS QUERIES DE MANERA INDEPENDIENTE PARA VERIFICAR QUE CADA TABLA SE HA CREADO CON 칄XITO

In [101]:
creacion_tablas('alumnaadalab', query_zapatillas)

CMySQLCursor: CREATE TABLE Zapatillas
               ..
Tu tabla se ha creado con 칠xito

In [102]:
creacion_tablas('alumnaadalab', query_clientes)

CMySQLCursor: CREATE TABLE Clientes
                  ..
Tu tabla se ha creado con 칠xito

In [103]:
creacion_tablas('alumnaadalab', query_empleados)

CMySQLCursor: CREATE TABLE Empleados
                 ..
Tu tabla se ha creado con 칠xito

In [106]:
creacion_tablas('alumnaadalab', query_facturas)

CMySQLCursor: CREATE TABLE Facturas
                  ..
Tu tabla se ha creado con 칠xito